# Core Packages
jupyter==1.0.0
jupyterlab==2.2.8

# DS Packages
numpy==1.19.2
# matplotlib==3.3.2
pandas==1.1.3

# ML Packages
# scikit-learn==0.23.2

# DL Packages
# tensorflow==2.3.*

# Graph Packages
py2neo==2020.0.0
# pykg2vec==0.0.50